:root {
    --day-bg-color: #efdd83f9;
    --afternoon-bg-color: #F24C4C;
    --night-bg-color: #0F3D3E;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#wrapper {
    width: min(35rem,100%);
    margin-inline: auto;
}

h1, footer {
    color: white;
}

section {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.505);
    border-radius: 10px;
    padding: 0rem 5rem 1.2rem;
}

#showHour p {
    padding-top: 1.5rem;
}

img {
    width: 75%;
    
}

body.dayLight {
    background-color: var(--day-bg-color);
}

body.afternoonLight {
    background-color: var(--afternoon-bg-color);
}

body.nightLight {
    background-color: var(--night-bg-color);
}

@media (min-width: 768xp) {
    #wrapper {
        width: min(20rem,100%);
        margin-inline: auto;
    }
}